<?xml version='1.0' encoding='UTF-8'?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.1" xmlns:f="http://java.sun.com/jsf/core"
          xmlns:af="http://xmlns.oracle.com/adf/faces/rich">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <f:view>
        <af:document title="employees.jspx" id="d1">
            <af:messages id="m1"/>
            <af:form id="f1">
                <af:panelFormLayout id="pfl2">
                    <af:inputText value="#{bindings.Id.inputValue}" label="#{bindings.Id.hints.label}"
                                  required="#{bindings.Id.hints.mandatory}" columns="#{bindings.Id.hints.displayWidth}"
                                  maximumLength="#{bindings.Id.hints.precision}"
                                  shortDesc="#{bindings.Id.hints.tooltip}" id="it1">
                        <f:validator binding="#{bindings.Id.validator}"/>
                    </af:inputText>
                    <af:inputText value="#{bindings.Name.inputValue}" label="#{bindings.Name.hints.label}"
                                  required="#{bindings.Name.hints.mandatory}"
                                  columns="#{bindings.Name.hints.displayWidth}"
                                  maximumLength="#{bindings.Name.hints.precision}"
                                  shortDesc="#{bindings.Name.hints.tooltip}" id="it2">
                        <f:validator binding="#{bindings.Name.validator}"/>
                    </af:inputText>
                    <af:inputText value="#{bindings.Departments.inputValue}" label="#{bindings.Departments.hints.label}"
                                  required="#{bindings.Departments.hints.mandatory}"
                                  columns="#{bindings.Departments.hints.displayWidth}"
                                  maximumLength="#{bindings.Departments.hints.precision}"
                                  shortDesc="#{bindings.Departments.hints.tooltip}" id="it3" disabled="true">
                        <f:validator binding="#{bindings.Departments.validator}"/>
                    </af:inputText>
                    <af:selectManyCheckbox value="#{pageFlowScope.EmployeesBean.departmentsSelected}"
                                           label="Departments" id="smc1" autoSubmit="true">
                        <f:selectItems value="#{pageFlowScope.EmployeesBean.departmentSelectItems}" id="si1"/>
                    </af:selectManyCheckbox>
                    <f:facet name="footer">
                        <af:panelGroupLayout layout="horizontal" id="pgl2">
                            <f:facet name="separator">
                                <af:spacer width="10" height="1" id="s1"/>
                            </f:facet>
                            <af:commandButton text="Save" id="cb1"
                                              actionListener="#{pageFlowScope.EmployeesBean.onSubmit}"/>
                        </af:panelGroupLayout>
                    </f:facet>
                </af:panelFormLayout>
            </af:form>
        </af:document>
    </f:view>
</jsp:root>
